*connect*.dat
dev/
python/trajs/hiresmip
seeds.txt.*
netcdf_*nc
__pycache__/
ncl/trajs/traj*
spatial_*.nc
netcdf-files/*.nc
spatial-tau.ncl
simple.nc
_*.nc
*.so
tmp.nc
*OLD
*.pyc
.DS_Store
__pycache__
projects/snowstorms/RoS/data/
CPC_gauge_precip_1985-2017.nc
*_to_CPC_conserve.nc
*mpi.out.*
trajectories.CFSR.*
traj.txt.*
traj.lat.*
trajectories.txt.*
LF.*
*.txt
projects/clubb/momentum/netcdf/*
OUT_*.nc
*.csv
*.tar.gz
*.out
timeseries.*.csv
projects/tcforecast/CAM_GFS_CFSR_skill/out-stats/*
stats*txt
*.Log
*.pdf
*.jpg
*.gif
*.eps
*.ps
*.png
nohu*
simple.nc
PET*
out.*
slice-*nc
*timesArray_*
projects/ke/*.nc
!jamc-paper.tar.gz
!rean_configs.csv
!ibtracs-1980-2019-GLOB.v4.txt
!trajectories.txt.CFSR
!trajectories.txt.CR20
!trajectories.txt.ERA5
!trajectories.txt.ERAI
!trajectories.txt.JRA
!trajectories.txt.MERRA
!trajectories.txt.MERRA2
!trajectories.txt.NARR
